<% provide(:title, 'Help') %>
	<h1>へるぷ</h1>
	<p>
		へるぷはここでよお<a href="http://railstutorial.jp/help">へるぷ</a>
		さんぷるあっぷをゲットしよう！<a href="http://railstutorial.jp/book"><em>Ruby on Rails Tutorial</em>
		book</a>
	</p>
 