
      <div class="center jumbotron">
	  <h1>さんぷるあっぷへようこそ</h1>
	  <h2>
		これは<a href="http://railstutorial.jp/">るびおんれいるずのためのちゅーとりある</a>
		さんぷるアプリケーション
	  </h2>
	  <%= link_to "サインアップしてね", signup_path, class: "btn btn-lg btn-primary" %>


	 </div>

	 <%= link_to image_tag("rails.png", alt: "Rails logo"),
	 	'http://rubyonrails.org/' %>
